*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
  }
  
  
  h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-image: url(./../imagenes/fotoIndumentaria.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  aside {
    padding: 2rem;
    padding-right: 0;
    background-color:  rgba(0, 65, 137, 1);
    box-shadow: inset 10px 10px 78px 57px rgba(7,0,51,0.87);   
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
  }
  
  
  
  .menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: .5rem;
    font-size: 1.5rem;
    width: 100%;
  }
  
  .boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
  }
  
  .boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
  }
  
  .boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
  }
  
  .boton-menu > i.bi-hand-index-thumb-fill,
  .boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
  }
  
  .boton-carrito {
    margin-top: 2rem;
  }
  
  .numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
  }
  
  .boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
  }
  
  .texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
  }
  
  main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
  }
  
  .titulo-principal {
    color: var(--clr-main);
    margin-bottom: 4rem;
    font-size: 3rem;
    text-align: center ;
    font-weight: 900;
    font-family: monospace;
  }
  
  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
  }
  
  .producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  .producto-titulo {
    font-size: 1rem;
  }
  
  .producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
  }
  
  .producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
  }
  
  
  /** CARRITO **/
  
  .contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .carrito-vacio,
  .carrito-comprado {
    color: var(--clr-main);
  }
  
  .carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
  }
  
  .carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
  }
  
  .carrito-producto small {
    font-size: .75rem;
  }
  
  .carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
  }
  
  .carrito-acciones {
    display: flex;
    justify-content: space-between;
  }
  
  .carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .carrito-acciones-derecha {
    display: flex;
  }
  
  .carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
  }
  
  
  .header-mobile {
    display: none;
  }
  
  .close-menu {
    display: none;
  }
  
  .disabled {
    display: none;
  }
  
  .contenedor__logo{
    background-color: #211550;
   border-top-left-radius: 40px;
   border-bottom-left-radius: 40px;
   margin-top: 1rem;
   padding: 10px;
  
  } 
  
  .logo {
    font-weight: 400;
    text-align: center;
    font-size: 3rem;
    color: #e2e2e2;
   
  }  
  
  .ventas__online{
    font-size: 1.5rem;
    text-align: center;
  
  } 
  
  .seguir__comprando{
    background-color: #211550;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 1rem;
  
  } 

  .tarjeta {
	width: 100%;
	max-width: 550px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2; 

} 

h1{
 color: rgba(0, 0, 0, 0.8);
 margin-top: 20px;
 padding: 10px;

}

.contenedor {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
    margin-top: -6rem;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: 30px;
	border-radius: 15px;
	min-height: 190px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
  margin-left: 5rem;
	width: 70%;
  height: 13rem;
	background: url(./../imagenes/bg-tarjeta-02.jpg);
	background-size: cover;
}

.delantera .logo-marca {
	text-align: right;
	min-height: 20px;
}

.delantera .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 60px;
}

.delantera .chip {
	width: 100%;
	max-width: 30px;
	margin-bottom: 10px;
}

.delantera .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
	background: url(./../imagenes/bg-tarjeta-02.jpg);
	background-size: cover;
	position: absolute;
  width: 70%;
  height: 14rem;
  margin-left: 5rem;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;

}

.trasera .barra-magnetica {
	height: 40px;
	background: #000;
	width: 100%;
	position: absolute;
	top: 15px;
	left: 0;
}

.trasera .datos {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.trasera .datos p {
	margin-bottom: 5px;
}

.trasera .datos #firma {
	width: 70%;
}

.trasera .datos #firma .firma {
	height: 40px;
	background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
	line-height: 40px;
	font-family: 'Liu Jian Mao Cao', cursive;
	color: #000;
	font-size: 20px;
	padding: 0 10px;
	text-transform: capitalize;
}

.trasera .datos #ccv {
	width: 20%;
}

.trasera .datos #ccv .ccv {
	background: #fff;
	height: 40px;
	color: #000;
	padding: 10px;
	text-align: center;
}

.trasera .leyenda {
	font-size: 14px;
	line-height: 20px;
}

.trasera .link-banco {
	font-size: 14px;
	color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.contenedor-btn .btn-abrir-formulario {
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 20px;
	background: #2364d2;
	color: #fff;
	position: relative;
	top: -10px;
	z-index: 3;
	border-radius: 100%;
 
	box-shadow: -5px 4px 8px rgba(24,56,182,0.4);
	padding: 5px;
	transition: all .2s ease;
	border: none;
	cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
	background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
	transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/
.formulario-tarjeta {
	background: #fff;
	width: 100%;
  margin-left: .5rem;
	max-width: 450px;
	padding: 150px 30px 30px 30px;
	border-radius: 10px;
	position: relative;
	top: -150px;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path .3s ease-out;
  overflow: hidden;
}

.formulario-tarjeta.active {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
	display: block;
	color: #7d8994;
	margin-bottom: 5px;
	font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
	border: 2px solid #CED6E0;
	font-size: 18px;
	height: 40px;
	width: 100%;
	padding: 5px 12px;
	transition: .3s ease all;
	border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
	border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
	outline: rgb(4,4,4);
	box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}

.formulario-tarjeta input {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
	display: flex;
	justify-content: space-between;
}

.formulario-tarjeta .expira {
	width: 100%;
}

.formulario-tarjeta .ccv {
	min-width: 100px;
}

.formulario-tarjeta .grupo-select {
	width: 100%;
	margin-right: 15px;
	position: relative;
}



.formulario-tarjeta .grupo-select i {
	position: absolute;
	color: #CED6E0;
	top: 12px;
 margin-left: -23px;
	transition: .3s ease all;

}

.formulario-tarjeta .grupo-select:hover i {
	color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
	border: none;
	padding: 5px;
	font-size: 18px;
  width: 80%;
  margin-left: 2rem;
	color: #fff;
	background: #2364d2;
	box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
	cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
	background: #1850b1;
} 



.agradecimiento {
  display: none; /* Inicialmente oculto */
  text-align: center;
  font-size: 24px;
  color: #2364d2;
  font-weight: bold;
 
}

.formulario-container {
  display: none; /* Inicialmente oculto */
}

/* Ajusta el CSS según tus necesidades específicas */


@media (max-width:750px){


  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

 aside {
     position: fixed;
     z-index: 9;
     background-color:  rgba(0, 65, 137, 1);
     box-shadow: inset 10px 10px 78px 57px rgba(7,0,51,0.87);   
     left: 0;
     transform: translateX(-100%);
     opacity: 0;
     visibility: hidden;
     transition: .2s;
     color: #fff;
 }

.aside-visible {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
   
}

.boton-menu.active::before,
.boton-menu.active::after {
    display: none;
}

main {
    margin: 1rem;
    margin-top: 0;
    padding: 2rem;
} 

 
.contenedor-productos {
    grid-template-columns: 1fr 1fr;
}

.header-mobile {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
   
    align-items: start;
}

.header-mobile .logo {
  color: var(--clr-gray);
    margin-top: -0.375rem;
}

.open-menu, .close-menu {
    background-color: transparent;
    color: var(--clr-gray);
    border: 0;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.close-menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

 
  .tarjeta .delantera {
 
    width: 22rem;
    height: 13rem;
    margin-right: 3rem;


  }
   
  .trasera {
   
    width: 22rem;
    height: 13rem;
    margin-right: 3rem;


  }   

  
  .trasera .datos #firma {
    width: 70%;
  }
  
  .trasera .datos #firma .firma {
    height: 30px;
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
  }
  
  
  .trasera .datos #ccv {
    width: 30%;
    margin-left: 15px;
  }
  
  .trasera .datos #ccv .ccv {
    background: #fff;
    height: 40px;
   
  }
  
  .trasera .leyenda {
    font-size: 14px;
    line-height: 1.0625rem;
  }
  
  .formulario-tarjeta {
    width: 24rem;
    max-width: 650px;

    
  } 


  .formulario-tarjeta .grupo-select {
	width: 5.5rem;
  margin-left: -1rem;
	position: relative;
  
}
 
.formulario-tarjeta .ccv {
	min-width: 70px;
}
 
 


}





  @media (max-width:400px){

    .wrapper {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  }
  
  aside {
      position: fixed;
      z-index: 9;
      background-color:  rgba(0, 65, 137, 1);
      box-shadow: inset 10px 10px 78px 57px rgba(7,0,51,0.87);   
      left: 0;
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
      transition: .2s;
      color: #fff;
  }
  
  .aside-visible {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  }
  
  .boton-menu.active::before,
  .boton-menu.active::after {
      display: none;
  }
  
  main {
      margin: 1rem;
      margin-top: 0;
      padding: 2rem;
  }
  
  .contenedor-productos {
      grid-template-columns: 1fr 1fr;
  }
  
  .header-mobile {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
     
  }
  
  .header-mobile .logo {
      color: var(--clr-gray);
  }
  
  .open-menu, .close-menu {
      background-color: transparent;
      color: var(--clr-gray);
      border: 0;
      font-size: 2rem;
      cursor: pointer;
  }
  
  .close-menu {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
  }

/*TARJETA*/ 


  .tarjeta .delantera {
 
    width: 17rem;
    height: 12rem;
   margin-left:-2rem;
  }
   
  .trasera {
   
    width: 17rem;
    height: 12rem;
    margin-left: -2rem;
    font-size:0.875rem;
  
  }  

  .trasera .barra-magnetica {
    height: 30px;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0;
  }
 
  .trasera .datos p {
    margin-bottom: 5px;
  }
  
  .trasera .datos #firma {
    width: 90%;
  }
  
  .trasera .datos #firma .firma {
    height: 30px;
   
  }
  
  
  .trasera .datos #ccv {
    width: 30%;
    margin-left: 10px;
  }
  
  .trasera .datos #ccv .ccv {
    height: 30px;
    width: 2.5rem;
    
  }
  
  .trasera .leyenda {
    font-size: .8125rem;
    line-height: 16px;
  }
  
  .trasera .link-banco {
    font-size: 14px;
 
  } 

  .formulario-tarjeta {
    width: 20rem;
    max-width: 650px;
    
  } 


  .formulario-tarjeta .grupo-select {
	width: 5.5rem;
  margin-left: -1rem;
	position: relative;
  
}
 
.formulario-tarjeta .ccv {
	min-width: 70px;
}

.año{
  margin-left: .3125rem;
}


.formulario-tarjeta .grupo-select i {
	position: absolute;
	color: #CED6E0;
	top: 14px;
	right: 6px;
	transition: .3s ease all;

} 

 .logo{
  margin: auto;
 }
   


  }